<body style="padding-top: 200px; padding-left: 20px;padding-right: 20px;">
    <section >
        <div class="d-flex justify-content-center container">
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-search"></i>
                        </div>
                        <input type="text" style="width: 50vw;" class="form-control" name="watchListName"  [(ngModel)]="watchListName" placeholder="Enter watchlist name" />

                    </div>
                </div>
            </form>
        </div>
        <div class="d-flex justify-content-center">
                <button type="button" (click) = "onCreate()" class="btn btn-outline-primary">Create new watchlist</button>
        </div>
        <div id="errorCreate" class="d-flex justify-content-center "  >
            <p>{{errCreateMsg}}</p>
        </div>
        <div style="margin-top:10px;" style="font-size: 12px;">
            <table  class="table table-hover" >
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Watch List</th>
                        <th>User</th>
                        <th>Create date</th>
                        <th>Number of symbols</th>
                        <th>Symbols</th>
                        <th>Benchmark</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        <tr class="table-info " >
                            <td>1</td>
                            <td>BOC Watchlist</td>
                            <td>{{bocWL.user.username}}</td>
                            <td></td>
                            <td>{{bocWL.numberOfSymbols}}</td>
                            <td>
                                <span style="margin-left: 2px;" *ngFor="let item of bocWL.listSymbolname; let i= index" >
                                    <span *ngIf="i==0">
                                        {{item.symbolname}} 
                                    </span>
                                    <span *ngIf="i>0">
                                            ,{{item.symbolname}} 
                                    </span>
                                </span>
                                
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    <tr class="table-info "  *ngFor="let item of allManageWatchLists;let i = index">
                        <td>{{i+2}}</td>
                        <td>{{item.watchlist.watchlistname}}</td>
                        <td>{{item.user.username}}</td>
                        <td>{{item.watchlist.datetime}}</td>
                        <td>{{item.numberOfSymbols}}</td>
                        <td>
                            <span style="margin-left: 2px;" *ngFor="let sbName of item.listSymbolname; let i= index">
                                <span *ngIf="i==0">
                                     {{sbName.symbolname}}
                                </span>
                                <span *ngIf="i>0">
                                     ,{{sbName.symbolname}}
                                </span>
                            </span>
                        </td>
                        <td>{{item.benchmarkpoint}}</td>
                        <td>
                            <button *ngIf="item.isDelete" (click)="onDeleteWL(item.watchlist.id)" type="button" class="close"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </td>
                    </tr>
            </table>
            <div id="errorDelete"  class="d-flex justify-content-center" >
                <p class="error">{{errDeleteMsg}}</p>
            </div>
        </div>
    </section>
</body>