<body style="padding-top: 200px;">
    <section *ngIf="isLoaded ; else notLoaded" >
        <div class="d-flex justify-content-center container">
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-search"></i>
                        </div>
                        <input type="text" style="width: 50vw;" class="form-control" name="searchString" placeholder="Search for name..." [(ngModel)]="searchString" (ngModelChange)="onChange()" />
                    </div>
                </div>
            </form>

        </div>
        <div style="font-size: 12px;">
            <table class="table">
                <thead>
                    <tr>
                        <th>Mã chứng khoán</th>
                        <th>Tên</th>
                        <th>Sàn</th>
                        <th>Growth</th>
                        <th>Efficency</th>
                        <th>Leverage</th>
                        <th>Margin</th>
                        <th>Dividend</th>
                        <th>Value</th>
                        <th>FA-Score</th>
                        <th>F-Score</th>
                        <th>M-Score</th>
                        <th>Pre WatchList</th>
                        <th>BOC WatchList</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="isItemNotNull; else BlockModel">
                        <th>{{item.symbol.symbolname}}</th>
                        <th>{{item.symbol.companyshortname}}</th>
                        <th>{{item.symbol.exchange}}</th>
                        <th>{{item.symbol.growth}}</th>
                        <th>{{item.symbol.efficency}}</th>
                        <th>{{item.symbol.leverage}}</th>
                        <th>{{item.symbol.margin}}</th>
                        <th>{{item.symbol.dividen}}</th>
                        <th>{{item.symbol.value}}</th>
                        <th>{{item.symbol.fascore}}</th>
                        <th>{{item.symbol.fscore}}</th>
                        <th>{{item.symbol.mascore}}</th>
                        <th #symbolToPreWL [attr.data-index]="item.id" [attr.data-symbol]="item.symbol.id" >
                            <form>
                              <div class="radio">
                                <label class="switch" *ngIf="item.isContainPreWL; else uncheckedPreBlock">
                                  <input type="checkbox" name="WatchList" checked (change)="DeleteSymBolPreWL(symbolToPreWL)" value="PreWL">
                                  <span class="slider round"></span>
                                </label>
                                <ng-template #uncheckedPreBlock>
                                  <label class="switch">
                                    <input type="checkbox" name="WatchList" (change)="SymBolPreWL(symbolToPreWL)" value="PreWL">
                                    <span class="slider round"></span>
                                  </label>

                                </ng-template>
                              </div>
                            </form>
            
                          </th>
                          <th #symbolToWL [attr.data-index]="item.id" [attr.data-symbol]="item.symbol.id" >
                            <form>
                              <div class="radio">
                                <label class="switch" *ngIf="item.isContainBOCWL; else uncheckedWLBlock">
                                  <input type="checkbox" name="WatchList" checked (change)="DeleteSymBolBOCWL(symbolToWL)" value="WL">
                                  <span class="slider round"></span>
                                </label>

                                <ng-template #uncheckedWLBlock>
                                  <label class="switch" name="WatchList" (change)="SymBolBOCWL(symbolToWL)" value="WL">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                  </label>
                                </ng-template>
                              </div>
                            </form>
                          </th>
                    </tr>
                    <ng-template #BlockModel>
                      <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                    </ng-template>
            </table>
        </div>
    </section>
    
  <ng-template #notLoaded>
    <div class="text-center" >
      <div class="spinner-border text-danger" role="status">
      </div>
      <div>Loading, please wait a moment...</div>
    </div>
  </ng-template>
</body>