<section style="padding-top: 12vh;font-size: 13px; margin:0 auto;">
    <div class="table-responsive">
        <table border="1" cellpadding="0" class="dashboardTable">
            <thead>
                <tr>
                    <th colspan="1" scope="colgroup"></th>
                    <th colspan="1" scope="colgroup"></th>
                    <th colspan="1" scope="colgroup"></th>
                    <th colspan="1" scope="colgroup"></th>
                    <th colspan="1" scope="colgroup"></th>
                    <th class="table-active" colspan="6" style="text-align: center;" scope="colgroup">FA</th>



                    <th colspan="3" scope="colgroup" class="table-danger" style="text-align: center;">TA</th>
                    <th colspan="1" scope="colgroup"></th>
                    <th colspan="20" scope="colgroup" class="table-success" style="text-align: center;">Buy</th>
                    <th colspan="4" scope="colgroup" class="table-info" style="text-align: center;">Sell</th>
                    <th colspan="1" scope="colgroup"></th>
                    <th colspan="1" scope="colgroup"></th>
                    <th colspan="1" scope="colgroup"></th>
                </tr>
                <tr>
                    <th style="width: 20px;" rowspan="1">No</th>
                    <th rowspan="1">Symbol</th>
                    <th rowspan="1">Price</th>
                    <th rowspan="1">Volume</th>
                    <th rowspan="1">Increase / Decrease</th>
                    <th class="table-active" scope="col">Past</th>
                    <th class="table-active" scope="col">Risk</th>
                    <th class="table-active" scope="col">Future</th>
                    <th class="table-active" scope="col">FA Scoring</th>
                    <th class="table-active" scope="col">Target price</th>
                    <th class="table-active" scope="col">Date</th>
                    <!-- TA -->
                    <th class="table-danger" scope="col">Neely Elliott</th>
                    <th class="table-danger" scope="col">Pattern</th>
                    <th class="table-danger" scope="col">TA Scoring</th>

                    <th scope="col">Scoring</th>

                    <!-- Buy -->
                    <th class="table-success" scope="col">B0</th>
                    <th class="table-success" scope="col">Ratio</th>
                    <th class="table-success" scope="col">M/A</th>
                    <th class="table-success" scope="col">Expired date</th>
                    <th class="table-success" scope="col">B1</th>
                    <th class="table-success" scope="col">Ratio</th>
                    <th class="table-success" scope="col">M/A</th>
                    <th class="table-success" scope="col">Expired date</th>
                    <th class="table-success" scope="col">B2</th>
                    <th class="table-success" scope="col">Ratio</th>
                    <th class="table-success" scope="col">M/A</th>
                    <th class="table-success" scope="col">Expired date</th>
                    <th class="table-success" scope="col">B3</th>
                    <th class="table-success" scope="col">Ratio</th>
                    <th class="table-success" scope="col">M/A</th>
                    <th class="table-success" scope="col">Expired date</th>
                    <th class="table-success" scope="col">B4</th>
                    <th class="table-success" scope="col">Ratio</th>
                    <th class="table-success" scope="col">M/A</th>
                    <th class="table-success" scope="col">Expired date</th>

                    <!-- Sell -->
                    <th class="table-info" scope="col">S1</th>
                    <th class="table-info" scope="col">Ratio</th>
                    <th class="table-info" scope="col">M/A</th>
                    <th class="table-info" scope="col">Expired date</th>

                    <th *ngFor="let item of listAccounts" rowspan="1">{{item.place}}</th>

                </tr>
            </thead>
            <tbody>
                <tr class="changeHover" *ngFor="let item of listBOCWL ; let i = index">
                    <td>{{i+1}}</td>
                    <td class="symbolname" style="width: 50px;">
                        <span (click)="onSelectBocWL(item.id)">{{item.symbolname}}</span>
                        <button (click)="onDeleteSymbolInBOCWL(item.id)" type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </td>
                    <td *ngIf="item.ratio>0" style="color: green;">{{item.close}}({{item.ratio>=0?('+'+item.ratio):item.ratio}}%)</td>
                    <td *ngIf="item.ratio==0" style="color: orange;">{{item.close}}({{item.ratio>=0?('+'+item.ratio):item.ratio}}%)</td>
                    <td *ngIf="item.ratio<0" style="color: red;">{{item.close}}({{item.ratio>=0?('+'+item.ratio):item.ratio}}%)</td>

                    <td *ngIf="item.ratio>0" style="color: green;">{{item.volume.toLocaleString()}}</td>
                    <td *ngIf="item.ratio==0" style="color: orange;">{{item.volume.toLocaleString()}}</td>
                    <td *ngIf="item.ratio<0" style="color: red;">{{item.volume.toLocaleString()}}</td>
                    <!-- <td>{{item.volume.toLocaleString()}}</td> -->
                    <td style="width: 50px;">{{item.ratio}}%</td>
                    <td class="table-active">{{item.fapast}}</td>
                    <td class="table-active">{{item.farisk}}</td>
                    <td class="table-active">{{item.fafuture}}</td>
                    <td style="width: 50px;" class="table-active symbolname">{{item.fascoring}}</td>
                    <td style="width: 50px;" class="table-active" title="{{item.usernote}}">{{item.fatargetprice}}</td>
                    <td class="table-active">{{item.fatargetpricedate | date: 'dd/MM/yyyy'}}</td>
                    <td style="width: 50px;" class="table-danger">{{item.taneelyelliott}}</td>
                    <td class="table-danger">{{item.tapatern}}</td>
                    <td style="width: 50px;" class="table-danger symbolname">{{item.tascoring}}</td>
                    <td *ngIf="item.fascoring>0&&item.tascoring>0; else zeroScoring" class="symbolname">
                        {{item.fascoring>item.tascoring?item.fascoring:item.tascoring}}</td>
                    <ng-template #zeroScoring>
                        <td class="symbolname">0</td>
                    </ng-template>
                    <td *ngIf="item.b0>0" class="table-success">{{'>'+item.b0}}</td>
                    <td *ngIf="item.b0===0||item.b0===null" class="table-success"></td>
                    <td *ngIf="item.b0<0" class="table-success">{{'
                        < '+(item.b0)*(-1)}}</td>
                    <td class="table-success">{{item.b0ratio}}</td>
                    <td class="table-success">{{item.b0type}}</td>
                    <td class="table-success">{{item.b0expireddate | date: 'dd/MM/yyyy '}}</td>
                    <td *ngIf="item.b1>0" class="table-success">{{'>'+item.b1}}</td>
                    <td *ngIf="item.b1===0||item.b1===null" class="table-success"></td>
                    <td *ngIf="item.b1<0" class="table-success">{{'
                        < '+(item.b1)*(-1)}}</td>
                    <td class="table-success">{{item.b1ratio}}</td>
                    <td class="table-success">{{item.b1type}}</td>
                    <td class="table-success">{{item.b1expireddate | date: 'dd/MM/yyyy '}}</td>
                    <td *ngIf="item.b2>0" class="table-success">{{'>'+item.b2}}</td>
                    <td *ngIf="item.b2===0||item.b2===null" class="table-success"></td>
                    <td *ngIf="item.b2<0" class="table-success">{{'
                        < '+(item.b2)*(-1)}}</td>
                    <td class="table-success">{{item.b2ratio}}</td>
                    <td class="table-success">{{item.b2type}}</td>
                    <td class="table-success">{{item.boexpireddate | date: 'dd/MM/yyyy '}}</td>
                    <td *ngIf="item.b3>0" class="table-success">{{'>'+item.b3}}</td>
                    <td *ngIf="item.b3===0||item.b3===null" class="table-success"></td>
                    <td *ngIf="item.b3<0" class="table-success">{{'
                        < '+(item.b3)*(-1)}}</td>
                    <td class="table-success">{{item.b3ratio}}</td>
                    <td class="table-success">{{item.b3type}}</td>
                    <td class="table-success">{{item.b3expireddate | date: 'dd/MM/yyyy '}}</td>
                    <td class="table-success">{{item.b4}}</td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success">{{item.b4date | date: 'dd/MM/yyyy '}}</td>
                    <td class="table-info">{{item.s1}}</td>
                    <td class="table-info"></td>
                    <td class="table-info"></td>
                    <td class="table-info">{{item.s1date}}</td>
                    <td *ngFor="let account of listAccounts">
                       <div *ngFor="let a of listSymboInAccount">
                            {{a.account_id==account.id&&a.symbol_id==item.symbol_id?(a.volume*item.close).toLocaleString():null}}
                       </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="#bocFormId" style="display: none;"><button id="goToFormId"></button></a>
    </div>
    <div style="margin: 30px;">
        <div class="row">
        <span class="col-md-12">Ngày cập nhật mới nhất: <strong style="color: blue;">{{latestDate| date: 'dd/MM/yyyy '}}</strong></span>
        </div>
            <div class="row">
                <div class="col-md-4">
                    <span>Thông tin của cổ phiếu <strong style="color: blue;">{{selectedSymbolName}}</strong></span>
                </div>
                <div class="col-md-8" style="display: none;" id="buySellAccountBtnId">
                    <button type="button" style="margin-left: 20px; width: 200px;" class="btn btn-success" (click)="ClickBuy()" data-toggle="modal" data-target="#myModal">Buy</button>
                    <button style="margin-left: 20px; width: 200px;" type="button" class="btn btn-danger" (click)="ClickSell()" data-toggle="modal" data-target="#myModal">Sell</button>
                </div>
            </div>
    </div>

     <!-- Modal -->
  <div style="width: 100vw;" class="modal fade" id="myModal" role="dialog">
    <div style="width: 60%;" class="modal-dialog modal-dialog-centered">
    
      <!-- Modal content-->
      <div class="modal-content" style="width: 100%; height: 100%;" >
            <form  id="formBuySellTrackingId" [formGroup]="buySellTransactionSubmit"  (ngSubmit)="onSubmitBuySellTransactions()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="email">Select Account:</label>
                        <select placeholder="Chọn tài khoản" class="form-control"  formControlName="Account_id" (change)="onSelectAccount()"  name="account">
                            <option [ngValue]="null" disabled >Chọn tài khoản</option>
                            <option [ngValue]="item.id" *ngFor="let item of listAccounts; index as i">{{item.place}} </option>
                        </select>
                    </div>
                    <div class="form-group" style="display: none;"  id="symbolAmount" >
                        <label for="email">Volume (<= <span style="color: red">{{totalSymbolBuy}}</span>):</label>
                        <input formControlName="Volume" autocomplete="off" type="text" class="form-control" id="pwd">
                    </div>
                    <div class="form-group" style="display: none;"  id="volumeBuy" >
                        <label for="email">Volume :</label>
                        <input formControlName="Volume" autocomplete="off" type="text" class="form-control" id="pwd">
                    </div>
                    <div class="form-group">
                        <label for="email">Price:</label>
                        <input formControlName="Price" autocomplete="off" type="text" class="form-control" id="pwd">
                    </div>
            
                    <div class="form-group">
                        <label for="email">Thesis:</label>
                        <textarea formControlName="Thesis" autocomplete="off" type="text" class="form-control" id="pwd"> </textarea>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p id="errorAccountMsg" style="display: none; color: red;">Vui lòng chọn tài khoản</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p id="successBuySell" style="display: none; color: green;">Thêm dữ liệu thành công</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p id="errMsgBuySell" style="display: none; color: red;">Có lỗi xảy ra, vui lòng kiểm tra lại thông tin nhập!</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p id="errMsgBuySellAmount" style="display: none; color: red;">Số lượng cổ phiếu bán không được vượt quá số lượng hiện có!</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="d-flex justify-content-center">
                       <button type="submit" class="btn btn-primary" >Submit</button>
                    </div>
                </div>
            </form>
      </div>
      
    </div>
  </div>

    <div border="1" style="margin: 30px;">
            <div class="row">
                <div class="col-md-3" aria-disabled="true" >
                    
                        <form style="display: none;" id="formBuySellId" [formGroup]="buySellFormSubmit"  (ngSubmit)="onSubmitBuySell()">
                    <div class="form-group">
                        <label for="pwd">Buy/Sell</label>
                        <div>

                            <div id="buy1" class="custom-control custom-radio custom-control-inline">
                                <input type="radio" value="b0" class="custom-control-input" checked id="defaultInline0" name="buyRadio" mdbInput>
                                <label class="custom-control-label" for="defaultInline0">B0</label>
                            </div>

                            <div id="buy2" class="custom-control custom-radio custom-control-inline">
                                <input type="radio" value="b1" class="custom-control-input" id="defaultInline1" name="buyRadio" mdbInput>
                                <label class="custom-control-label" for="defaultInline1">B1</label>
                            </div>


                            <div id="buy3" class="custom-control custom-radio custom-control-inline">
                                <input type="radio" value="b2" class="custom-control-input" id="defaultInline2" name="buyRadio" mdbInput>
                                <label class="custom-control-label" for="defaultInline2">B2</label>
                            </div>

                            <div id="buy4" class="custom-control custom-radio custom-control-inline">
                                <input type="radio" value="b3" class="custom-control-input" id="defaultInline3" name="buyRadio" mdbInput>
                                <label class="custom-control-label" for="defaultInline3">B3</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="pwd">Price:</label>
                        <input autocomplete="off" type="text" formControlName="Price" class="form-control" id="pwd">

                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" value="larger" class="custom-control-input" id="priceRadio1" name="priceRadio" mdbInput>
                            <label class="custom-control-label" for="priceRadio1">Larger</label>
                        </div>
                        
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" value="smaller" class="custom-control-input" id="priceRadio2" name="priceRadio" mdbInput>
                            <label class="custom-control-label" for="priceRadio2">Smaller</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Ratio (%):</label>
                        <input autocomplete="off" type="text" formControlName="Ratio" class="form-control" id="pwd">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Expired date:</label>
                        <div>
                            <input type="text" class="form-control" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker formControlName="Expireddate">
                        </div>
                    </div>
                    <span class="useredit" style="margin-top: 1px;;">
                        <p>
                            Last buy/sell command by {{lastUserEditBuySell.username}} @
                            {{ lastUserEditBuySell.date | date: 'dd/MM/yyyy '}}
                        </p>

                    </span>
                    <div class="d-flex justify-content-center">
                            <button type="submit" style="width: 200px;" class="btn btn-success">Add</button>
                            <button type="button" (click)="RemoveBuySell()" style="width: 200px; margin-left: 5px;" class="btn btn-danger">Remove</button>
                    </div>

                </form>
                </div>
                <div class="col-md-9">
                        <form id="bocFormId" [formGroup]="bocSymbolSubmit" (ngSubmit)="onSubmit()">
                            <div class="row">
                                    <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="pwd">FA Past:</label>
                                                <input autocomplete="off" type="text" formControlName="Fapast" class="form-control" id="pwd">
                                                <span class="useredit">
                                                    <p>
                                                        Last update by {{lastUserEditFaPast.username}} @
                                                        {{ lastUserEditFaPast.date | date: 'dd/MM/yyyy '}}
                                                    </p>
                                                </span>
                                            </div>
                        
                        
                                            <div class="form-group">
                                                <label for="pwd">FA Risk:</label>
                                                <input type="text" autocomplete="off" formControlName="Farisk" class="form-control" id="pwd">
                                                <span class="useredit">
                                                    <p>
                                                        Last update by {{lastUserEditFaRisk.username}} @
                                                        {{ lastUserEditFaRisk.date | date: 'dd/MM/yyyy '}}
                                                    </p>
                                                </span>
                                            </div>
                        
                                            <div class="form-group">
                                                <label for="pwd">FA Future:</label>
                                                <input type="text" autocomplete="off" formControlName="Fafuture" class="form-control" id="pwd">
                                                <span class="useredit">
                                                    <p>
                                                        Last update by {{lastUserEditFaFuture.username}} @
                                                        {{ lastUserEditFaFuture.date | date: 'dd/MM/yyyy '}}
                                                    </p>
                                                </span>
                                            </div>
                                        </div>
                        
                        
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="pwd">TA Neely:</label>
                                                <input type="text" autocomplete="off" formControlName="Taneelyelliott" class="form-control" id="pwd">
                                                <span class="useredit">
                                                    <p>
                                                        Last update by {{lastUserEditTaNeely.username}} @
                                                        {{ lastUserEditTaNeely.date | date: 'dd/MM/yyyy '}}
                                                    </p>
                        
                                                </span>
                                            </div>
                        
                                            <div class="form-group">
                                                <label for="pwd">TA Pattern:</label>
                                                <input type="text" autocomplete="off" formControlName="Tapatern" class="form-control" id="pwd">
                                                <span class="useredit">
                                                    <p>
                                                        Last update by {{lastUserEditTaPattern.username}} @
                                                        {{ lastUserEditTaPattern.date | date: 'dd/MM/yyyy '}}
                                                    </p>
                        
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="pwd">Target Price:</label>
                                                <input autocomplete="off" (change)="Editfatargetprice()" type="text" formControlName="Fatargetprice" class="form-control" id="pwd">
                                                <span class="useredit">
                                                            <p>
                                                                Last update by {{lastUserEditFaTarget.username}} @
                                                                {{ lastUserEditFaTarget.date | date: 'dd/MM/yyyy '}}
                                                            </p>
                                
                                                        </span>
                                            </div>
                                            <div class="form-group">
                                                <label for="pwd">Argument:</label>
                                                <input autocomplete="off" type="text" formControlName="Usernote" class="form-control" id="pwd">
                                                <span class="useredit">
                                                                <p>
                                                                    Last update by {{lastUserEditUserNote.username}} @
                                                                    {{ lastUserEditUserNote.date | date: 'dd/MM/yyyy '}}
                                                                </p>
                                    
                                                            </span>
                                            </div>
                                        </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                            </form>
                </div>
                
            </div>

        <div class="d-flex justify-content-center">
            <p id="errorSymbolMsg" style="display: none; color: red;">Vui lòng chọn cổ phiếu</p>
        </div>
        <div class="d-flex justify-content-center">
            <p id="successSubmit" style="display: none; color: green;">Thêm dữ liệu thành công</p>
        </div>
        <div class="d-flex justify-content-center">
            <p id="errMsg" style="display: none; color: red;">Có lỗi xảy ra, vui lòng kiểm tra lại thông tin nhập!</p>
        </div>
    </div>
</section>