.mat-header-cell,
.mat-cell {
    padding: 0 10px;
}

.header-group-row {
    border: none;
    align-items: stretch;
}

.header-group {
    display: flex;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    border-left: 1px solid rgba(0, 0, 0, 0.12);
}

.trWidth td {
    width: 200px;
}

.changeHover {}

.changeHover:hover>td {
    background-color: skyblue !important;
}

.symbolname {
    font-weight: bold;
    color: blue;
}

.useredit {
    color: blue;
}

.dashboardTable {
    width: auto !important;
    border-color: gray !important;
    text-align: center;
}