
<div class="container" >
    <div id="chatbotMsg" style="overflow-y: auto; width: 400px; height: 30vh; background-image: url('../../assets/img/backgroundchat.jpg');">
        <ng-container *ngFor="let message of messages| async">

            <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
                                                'to': message.sentBy === 'user'}">
                {{message.content}}
            </div>
        </ng-container>
    </div>
    

    <div class="form-group">
        <label  for="nameField">
           <strong>Your Message</strong>
        </label>
        <input class="form-control" [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text" >
      </div>

    <button class="btn btn-primary" (click)="sendMessage()">Send</button>
</div>