

   <body>
    <div class="body d-flex justify-content-center">
      <a>
          <button type="button" class="btn btn-primary btn-create">Create new user</button>
      </a>       
    </div>
<div class="table-responsive-xl body container d-flex justify-content-center"> 
        <table class="table table-striped w-auto">

                <!--Table head-->
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>First name</th>
                    <th>Last Name</th>
                    <th>Date</th>
                    <th>Role</th>
                    <th>Descreption</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <!--Table head-->
              
                <!--Table body-->
                <tbody>
                  <tr class="table-info" *ngFor="let User of allUsers">
                    <td>{{User.Id}}</td>
                    <td>{{User.Username}}</td>
                    <td>{{User.Firstname}}</td>
                    <td>{{User.Lastname}}</td>
                    <td>{{User.Date}}</td>
                    <td>{{User.Role}}</td>
                    <td>{{User.Descreption}}</td>
                    <td>
                      <a [routerLink]="['/user/detail']"><button type="button" class="btn btn-primary">Detail</button></a>


                    </td>
                    <td><button type="button" class="btn btn-warning">Remove</button></td>
                  </tr>
                  
                </tbody>
                <!--Table body-->
                
         </table>
 </div>

   </body>
   