<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<router-outlet></router-outlet>
<!-- <div  class="d-flex justify-content-center" style="float: right;">
    <app-chatbot></app-chatbot>
</div> -->
