<nav class="header-area header-menu">
    <div class="top-header-area">
        <nav class="navbar navbar-expand-xl navbar-light bg-light">
          <!-- Brand -->
          <a class="navbar-brand logo" [routerLink]="['/']">
            <img class="logoImage" src="../../assets/img/logoBOC.png">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContentXL" aria-controls="navbarSupportedContentXL" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContentXL">
                  <!-- Links -->
            <ul class="navbar-nav">
                
              <li class="nav-item" >
                <a class="nav-link" [routerLink]="['/']">BOC Dashboard</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" [routerLink]="['/batchjob']">System</a>
              </li>
                <!--Data Dropdown -->
                <li class="nav-item dropdown" *ngIf="IsAdmin">
                  <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                    Data
                  </a>
                  <div class="dropdown-menu" style="z-index: 10;" >
                    <a class="dropdown-item" [routerLink]="['/storesymbol']">Load Symbol EOD</a>
                    <a class="dropdown-item" [routerLink]="['/storesymbol']">Load FA Data</a>
                  </div>
                </li>

                <!--WatchList Dropdown -->
                <li class="nav-item dropdown" *ngIf="IsAdmin">
                  <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                    Watch List
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="['/watchlist/managewatchlist']">Manage Watch List</a>
                  </div>
                </li>

                <!--Fundamental Analysis Dropdown -->
                <li class="nav-item dropdown" *ngIf="IsAdmin">
                  <a class="nav-link dropdown-toggle"  id="navbardrop" data-toggle="dropdown">
                    Fundamental Analysis
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="['/symbol/list']">List Symbol</a>
                    <a class="dropdown-item" [routerLink]="['/symbol/visualization']">FA Visualization</a>
                  </div>

                </li>

                <!--User Dropdown -->
                <li class="nav-item dropdown" *ngIf="IsAdmin">
                  <a class="nav-link dropdown-toggle"  id="navbardrop" data-toggle="dropdown">
                    Users
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="['/user/list']">Users List</a>
                  </div>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="['/user/list']">Register</a>
                  </div>
                </li>
                <li class="nav-item" *ngIf="IsLogin; else registerBlock">
                  <a class="nav-link" [routerLink]="['/logout']">Log out </a>
                </li>
                <ng-template #registerBlock> 
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/login']">Login </a>
                      </li>
                </ng-template>
              </ul>
              <form class="form-inline my-2 my-lg-0"  action="/action_page.php">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search">
                  <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
              </form>
          </div>

        </nav>
      </div>
    
</nav>
