
<body>
    <div class="container content"  id="myHeader">
        <h2 class="d-flex justify-content-center">Login</h2>
    
       <div class="d-flex justify-content-center">
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()" >
                    <div class="form-group">
                      <label for="email">Username:</label>
                      <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="username">
                    </div>
                    <div class="form-group">
                      <label for="pwd">Password:</label>
                      <input type="password" class="form-control" id="pwd" placeholder="Enter password" formControlName="password">
                    </div>
                    <div class="form-row text-center">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                     </div>
            </form>
       </div> 
      </div>
</body>
