<body  style="padding-top: 12vh;" >
  <div class="d-flex justify-content-center container">
    <select class="browser-default custom-select" (change)="selectWayFilter(wayFilter)" [(ngModel)]="wayFilter" style="width: 100%;">
      <option   disabled>Chọn kiểu lọc top cổ phiếu</option>
      <option >Fscore</option>
      <option >Mscore</option>
    </select>
  </div>
  
  <div style="margin-top: 30px;" class="container">
    <div >
      <div class="row form-group">
        <div id="topfscoreId" class="col-md-12" style="display: none;">
          <label>Nhập số lượng cổ phiếu có fscore cao nhất:</label>
          <input  class="form-control" [(ngModel)]="topFscore"  />
          <button type="button" style="margin-top: 10px;" (click)="getDataFilter(topFscore)"  class="btn btn-primary">Submit</button>
        </div>
        
        <div id="topmscoreid" class="col-md-12" style="margin-top: 20px;display: none;">
            <label>Nhập số lượng cổ phiếu có mscore cao nhất:</label>
            <input  class="form-control" [(ngModel)]="topMscore"  />
            <button type="button" style="margin-top: 10px;"  (click)="getDataFilter(topMscore)"  class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>

  </div>


  <div id="topSymbolId" style="display: none;" class="tableFilterData"  >
    <section >
      <div  class="d-flex justify-content-end container">
          <div  id="mscorefromfscoreId" style="display: none;"  class="justify-content-center container">
              <div class="row form-group">

                      <div class="col-md-6">
                        <label>Nhập số lượng cổ phiếu có mscore cao nhất từ top fscore:</label>
                        <input style="width: 50%;" [(ngModel)]="mscorefromfscore"   class="form-control"   />
                      </div>
                      <div class="col-md-6" >
                          <label class="row">Hiển thị những Symbol có Mscore < -2.22</label>
                          <label class="switch row">
                              <input type="checkbox" name="WatchList" id="check222"  (change)="OnFilterMScore() " value="WL">
                              <span class="slider round"></span>
                          </label>

                      </div>

                      <div class="col-md-12">
                          <button type="button" style="margin-top: 10px;"  class="form-control"  (click)="getDataFilterFromFscore(mscorefromfscore)"  class="btn btn-primary">Lọc</button>
                      </div>
                      <div class="col-md-12">
                          <p id="errMsgFscore" style="display: none; color: red;margin-top: 10px;">Có lỗi xảy ra, số cổ phiếu mscore phải thấp hơn số cổ phiếu fscore!</p>
                      </div>
              </div>
          </div>

          <div  id="fscorefrommscoreId" style="display: none;"  class="justify-content-center container">
              <div class="row form-group">

                      <div class="col-md-12">
                        <label>Nhập số lượng cổ phiếu có fscore cao nhất từ top mscore:</label>
                        <input style="width: 50%;" [(ngModel)]="fscorefrommscore"   class="form-control"   />
                      </div>
                      <div class="col-md-12">
                        <button type="button"  style="margin-top: 10px;"   class="form-control"   (click)="getDataFilterFromFscore(fscorefrommscore)"  class="btn btn-primary">Lọc</button>
                      </div>
                      <div class="col-md-12">
                          <p id="errMsgMscore" style="display: none; color: red; margin-top: 10px;">Có lỗi xảy ra, số cổ phiếu fscore phải thấp hơn số cổ phiếu mscore!</p>
                      </div>
              </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
              </div>
              <input type="text" class="form-control" name="searchString" placeholder="Tìm kiếm cổ phiếu..."
                [(ngModel)]="searchString" />
            </div>
          </div>
      </div>
    </section>
    <section  style="margin-left: 30px; margin-right: 30px;font-size: 11px;">
        <div class="d-flex justify-content-center">
            <div class="row table-responsive" style="width: 100%;">
                <table class="table table-hover" >
                  <!--Table head-->
                  <thead>
                    <tr>
                      <th>STT</th>
                      <th>Symbol name</th>
                      <th>Company short name</th>
                      <th>IPO Date</th>
                      <th>Exchange</th>
                      <th>Fscore</th>
                      <th>Mscore</th>
                      <th>Descreption</th>
                      <th>Pre-WatchList</th>
                      <th>BOC WatchList</th>
                    </tr>
                  </thead>
                  <!--Table head-->
        
                  <!--Table body-->
                  <tbody style="height: 70vh;  overflow-y: scroll;">
                    <tr   *ngFor="let item of allSymbols |filter:searchString:'Symbolname' ; let i = index" >
                      <td>{{i+1}}</td>
                      <td>{{item.symbol.symbolname}}</td>
                      <td>{{item.symbol.companyshortname}}</td>
                      <td>{{item.symbol.ipoDate}}</td>
                      <td>{{item.symbol.exchange}}</td>
                      <td>{{item.symbol.fscore}}</td>
                      <td>{{item.symbol.mscore}}</td>
                      <td>{{item.symbol.descreption}}</td>
                      <td #symbolToPreWL [attr.data-index]="i" [attr.data-symbol]="item.symbol.id" >
                        <form>
                          <div class="radio">
                            <label class="switch" *ngIf="item.isContainPreWL; else uncheckedPreBlock">
                              <input type="checkbox" name="WatchList" checked (change)="DeleteSymBolPreWL(symbolToPreWL)" value="PreWL">
                              <span class="slider round"></span>
                            </label>

                            <ng-template #uncheckedPreBlock>
                              <label class="switch">
                                <input type="checkbox" name="WatchList" (change)="SymBolPreWL(symbolToPreWL)" value="PreWL">
                                <span class="slider round"></span>
                              </label>
                            </ng-template>
                          </div>
                        </form>
        
                      </td>
                      <td #symbolToWL [attr.data-index]="i" [attr.data-symbol]="item.symbol.id" >
                        <form>
                          <div class="radio">
                            <label class="switch" *ngIf="item.isContainBOCWL; else uncheckedWLBlock">
                              <input type="checkbox" name="WatchList" checked (change)="DeleteSymBolBOCWL(symbolToWL)" value="WL">
                              <span class="slider round"></span>
                            </label>
                            <!--                         
                                          <label *ngIf="Symbol.isContainWL; else uncheckedWLBlock">
                                              <input  type="radio" name="WatchList" checked   (change)="SymBolWL(symbolToWL)" value="WL" /> WatchList
                                          </label> -->
                            <ng-template #uncheckedWLBlock>
                              <label class="switch" name="WatchList" (change)="SymBolBOCWL(symbolToWL)" value="WL">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                              <!-- <label >
                                                  <input  type="radio" name="WatchList"  (change)="SymBolWL(symbolToWL)" value="WL" /> WatchList
                                               </label> -->
                            </ng-template>
                          </div>
                        </form>
                      </td>
                    </tr>
        
                  </tbody>
                  <!--Table body-->
                </table>
              </div>
          </div>
    </section>
  </div>


    <div id="loadingId" style="display: none;" class="text-center" >
      <div class="spinner-border text-danger" role="status">
      </div>
      <div>Loading, please wait a moment...</div>
    </div>

</body>