<body  style="padding-top: 15vh;font-size: 11px;" >
    <div style="font-size: 16px;"> 
        <div class=" row d-flex justify-content-center">
            <button class="col-md-2" style="text-align: center; background-color: transparent;" (click)="onHandleBatchJob(1)">
                <div class="d-flex justify-content-center">
                        <img class="imageIcon" src="../../../assets/img/batchjob.png" >
                </div>
                <div>Batch job 1</div>
            </button>
                    <button  class="col-md-2" style="text-align: center;  background-color: transparent;" (click)="onHandleBatchJob(2)">
            <div class="d-flex justify-content-center">
                    <img class="imageIcon" src="../../../assets/img/batchjob.png" >
            </div>
            <div>Batch job 2</div>
        </button>
        </div>
    </div>
</body>
