.h-50vh {
    height: 50vh;
}

.w-40vw {
    width: 40vw;
}

.mt-50 {
    margin-top: 50px;
}

.ml-50{
    margin-left: 50px;
}

.mb-50{
    margin-bottom: 50px;
}
.imageIcon {
    height: 300px;
    width: 300px;;
}
