
body {
    padding-top: 150px;
    width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  .content {
    padding-top: 150px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }
  .btn:focus, .btn:focus:active {
    outline: none;
}