
<body  >
   <div class=" container" *ngIf="IsAdmin" >
     <div class="d-flex justify-content-center">
        <form #inputFile>
            <div class="form-group">
               <input type="file" class="form-control"  name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />  
            </div>
            <br>                 
        </form>
        <div class="form-group  text-center">
          <div class="col-12">
              <button type="button" class="form-control"  [disabled]="!IsUploadCSVfile" (click)="onStoreDB()" class="btn btn-primary">Save to database</button>
          </div>
      </div> 
     </div>
  </div>   
</body>
 